body {
	background-color: black;
	background-image: url(https://64.media.tumblr.com/02cf88d5d0135a30d8922a17385b43d1/tumblr_msdbe0cMe61r0b2hgo2_400.gifv);
	background-size: 100%;
	bottom: 0%;
	background-repeat: no-repeat;
}

#container {
	position: absolute;
	bottom: 0%;
}
