@import '_mixins';
@import '_variables';

body {
	width: 100%;
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background-color;
	background-blend-mode: multiply;
	background-image: url(https://64.media.tumblr.com/02cf88d5d0135a30d8922a17385b43d1/tumblr_msdbe0cMe61r0b2hgo2_400.gifv);
}

#container {
	@include center;
	width: 80vw;
	top: 25%;
}

form {
	@include center;
	top: 8%;
	width: 60%;
	margin: 0 auto;
}

#alert {
	margin-top: 5rem;
}

#player {
	@include for-player;
}
